@import "../../../../../styles/variables.scss";
.footer{
    padding: 48px 24px;
    .footer__nav{
        .nav-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 24px;
            list-style: none;
            .footer__nav-list--item{
                display: flex;
                flex-direction: column;
             
                .nav-list__item-title{}
                .nav-list__item-text{
                   
                }
                .nav-list__item-link{
                    color: $small-text;
                    text-decoration: none;
                    padding-top: 8px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 157%; 
                    transition: 0.2s;
                    &:hover{
                        opacity: 0.7;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}