.home{
    .home__form{
        display: flex;
        .home__form-item{
            margin-left: 12px;
            padding: 8px;
            display: flex;
            align-self: center;
        }
    }
}