@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body,
#root {
  overflow-x: hidden;
  scrollbar-width: none;

}

*,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}




// LANDING

.section__title{
  padding: 8px 0 0;
  color: $title-text;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 119%; 
}
.section__subtitle{
  padding: 8px 0 24px;
  color: $small-text;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%; 
}

// LINK

.link-btn{
  border-radius: 4px;
  padding: 8px 20px;
  background: $dark-blue;
  color: $white;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%; 
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  &:hover{
    opacity: 0.7;
    transition: 0.2s;
  }
}

.btn{
  border-radius: 4px;
  padding: 8px 20px;
  background: $dark-blue;
  color: $white;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%; 
  letter-spacing: 2px;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  &:hover{
    opacity: 0.7;
    transition: 0.2s;
  }
}

// INPUTS

.dashboard__input{
  padding: 12px;
  border: 2px solid black;
  font-size: 16px;
}
.dashboard__input--with-btn{
  padding: 12px;
  border: 2px solid black;
  font-size: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ant-form-item .ant-form-item-label >label{
padding: 8px;
font-size: 24px;
} 


.css-dev-only-do-not-override-6j9yrn.ant-select.ant-select-in-form-item {
  width: 100%;
  height: 52px;
  border: 2px solid black;
  border-radius: 8px;
}