@import "../../../../../styles/variables.scss";

.results{
    padding: 48px 24px;
    .results__list{
        list-style: none;
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        @media screen and (max-width: $tablet-max) {
            grid-template-columns: repeat(2,1fr);
        }
        @media screen and (max-width: $mobile-max) {
            grid-template-columns: 1fr;
        }
        .results__list-item{
            @media screen and (max-width: $tablet-max) {
                text-align: center;
            }
            .results__list-item--text{
                color: $title-text;
                margin-top: 8px;
                font-size: 21px;
                font-style: normal;
                font-weight: 600;
                line-height: 166%;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
}