@import "../../../../../../src/styles/variables.scss";

.literacy{
    display: flex;
    align-items: center;

  @media screen and (max-width: $tablet-max) {
    flex-direction: column-reverse;
  }
  .literacy__left{
    @media screen and (max-width: $tablet-max) {
        margin-top: 24px;
      }
  }
    .literacy__right{
        padding: 0 24px 0;
        .literacy__right-title{
            color: $title-text;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 118%;
        }
        .literacy__right-text{
            padding: 12px 0 0 ;
        }
    }
}