@import "../../../styles/variables.scss";

.sidebar{
    background-color: $dark-blue;
    width: 280px;
    height: 100vh;
    .sidebar__nav{
        margin-top: 24px;
        .sidebar__list{
            display: flex;
            flex-direction: column;
            .sidebar__list-item{
                margin-top: 24px;
                .sidebar__list-item--link{
                    text-decoration: none;
                    color: $white;
                    transition: 0.2s;
                    padding: 24px;
                    &:hover{
                        color: grey;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}