@import "../../styles/variables.scss";

.sign-up{
    display: flex;
    .sign-up__back-home{
        position: absolute;
        top: 24px;
        left: 24px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $dark-blue;
        transition: 0.2s;
        &:hover{
            color: grey;
            transition: 0.2s;
        }
    }
    
    .sign-up__left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        .sign-up__left-title{
            text-align: center;
            margin-top: 24px;
        }
    }
    .sign-up__right{
        width: 50%;
        background-color: $dark-blue;
        display: flex;
        justify-content: center;
        .sign-up__right-img{
            width: 60%;
        }
    }
}